body {
  background-color: cadetblue;
}
.snowfall-container {
  display: block;
  height: 100vh;
  left: 0px;
  margin: 0;
  padding: 0;
  -webkit-perspective-origin: top center;
  perspective-origin: top center;
  -webkit-perspective: 150px;
  perspective: 150px;
  position: fixed;
  top: 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  z-index: 99999;
}

.snow_ball_count {
  position: absolute;
  left: 0;
  font-size: 50px;
  pointer-events: none;
}

.snow_ball_timer {
  position: absolute;
  right: 0;
  font-size: 50px;
  pointer-events: none;
}

.tree {
  position: absolute;
  bottom: 0;
  width: 700px;
  left: 25%;
  pointer-events: none;
}
