body {
  background-color: #283334;
}
.snowfall-container {
  display: block;
  height: 100vh;
  left: 0px;
  margin: 0;
  padding: 0;
  -webkit-perspective-origin: top center;
  perspective-origin: top center;
  -webkit-perspective: 150px;
  perspective: 150px;
  position: fixed;
  top: 0px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
  z-index: 99999;
}

.snow_ball_count {
  position: absolute;
  left: 0;
  font-size: 70px;
  top: 5px;
  pointer-events: none;
  left: 70px;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.snow_ball_timer {
  position: absolute;
  right: 70px;
  top: 5px;
  font-size: 70px;
  pointer-events: none;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tree {
  position: absolute;
  bottom: 0;
  width: 700px;
  left: 300px;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
